.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3C143C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  font-weight: lighter;
}

.App-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.App-footer {
  background-color: #3C143C;
  position: absolute;
  font-size: calc(5px + 2vmin);
  margin: 0px 10px 0px 0px;
  color: #FFC450;
  width: 100%;
  bottom: 0;
  text-align: left;
  padding-left: 0px;
  float: left;
}
